<div class="btn-group">
    <button ng-click="openNewSourceDialog()" class="btn btn-success btn-xs">
        Lisa
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button ng-click="openModifySourceDialog()" ng-disabled="nothingIsSelected()" class="btn btn-primary btn-xs">
        Muuda
        <span class="glyphicon glyphicon-cog"></span>
    </button>
    <button ng-click="deleteSource()" ng-disabled="nothingIsSelected()" class="btn btn-danger btn-xs">
        Kustuta
        <span class="glyphicon glyphicon-minus"></span>
    </button>
</div>
