<div>
    
    <div class="comic_text_shadow">
        {{comic.type}}
    </div>
    <div class="comic_text_shadow" style="font-size: 18px">
        {{comic.dateToShow}}
    </div>
    
    <div style="display: flex; justify-content: space-between">
        
        <div style="order: 1">
            <button class="myButton" ng-click="previousComicImage()">Eelmine</button>
        </div>

        <div ng-switch="!!comic.url" class="col-sm-10 col-md-10" style="order: 2">
            <img ng-switch-when="true" ng-src="{{comic.url}}" style="margin:auto;" class="img-responsive comicImage"/>
            <span ng-switch-default>Vali menüüst koomiks</span>
        </div>

        <div style="order: 3">
            <button class="myButton" ng-click="nextComicImage()">Järgmine</button>
        </div>

    </div>

</div>
