<div ng-controller="ComicsCarouselController as vm">
    
    <div class="comic_text_shadow">
        {{vm.comic.type}}
    </div>
    <div class="comic_text_shadow" style="font-size: 18px">
        {{vm.comic.dateToShow}}
    </div>
    
    <div style="display: flex; justify-content: space-between">
        
        <div style="order: 1">
            <button class="myButton" ng-click="vm.previousComicImage()">Eelmine</button>
        </div>

        <div ng-switch="!!vm.comic.url" style="order: 2">
            <img ng-switch-when="true" ng-src="{{vm.comic.url}}" class="img-responsive comicImage"/>
            <span ng-switch-default class="comic_text_shadow">Vali menüüst koomiks</span>
        </div>

        <div style="order: 3">
            <button class="myButton" ng-click="vm.nextComicImage()">Järgmine</button>
        </div>

    </div>

</div>
