<div ng-controller="ComicsCarouselController as vm">
    
    <div class="comic_text_shadow">
        {{vm.comic.type}}
    </div>
    
    <div class="comic_text_shadow" style="font-size: 18px">
        {{vm.comic.getDateToShow()}}
    </div>
    
    <div style="display: flex; justify-content: space-between">
        
        <div style="order: 1">
            <button class="myButton" ng-click="vm.comic.previous()">Eelmine</button>
        </div>

        <safe-image src="{{vm.comic.getImageUrl() | trusted}}" img-class="img-responsive comicImage" style="order: 2">
          <div class="comic_text_shadow" style="color: deepskyblue; font-size: 18px; padding-top: 15px">No comic this day</div>
        </safe-image>

        <div style="order: 3">
            <button class="myButton" ng-click="vm.comic.next()">Järgmine</button>
        </div>

    </div>

</div>
