<div class="jumbotron">
  <p class="lead">
    <div ng-controller="MainCtrl">
    <carousel>
      <slide ng-repeat="comic in comics">
        <img ng-src="{{comic.url}}" style="margin:auto;">
          <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{comic.description}}</p>
        </div>

      </slide>
    </carousel>
        
    </div>    
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    {{comics.description}}
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
