<div class="row">
    <div class="col-sm-3 col-md-2 sidebar" ng-controller="SourcesController as sources">
        <a ng-href="#" class="btn btn-info">
            <span class="glyphicon glyphicon-plus"></span>
            Lisa uus
        </a>
        <ul class="nav nav-sidebar" ng-repeat="source in sources.sources">
            <li><a href="#">{{source.name}}</a></li>
        </ul>
    </div>

    <div class="col-sm-9 col-md-10">
        <div class="jumbotron">
            <p class="lead">
            <div ng-controller="MainCtrl">
                <carousel>
                    <slide ng-repeat="comic in comics">
                        <img ng-src="{{comic.url}}" style="margin:auto;"/>
                    </slide>
                </carousel>
            </div>
            </p>
    </div>
</div>
</div>
